{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <div class="row" id="choose-graph">
        <div class="col-md-12">
            Choose graph
        </div>
    </div>
    <div class="row" id="graph-designer">
        <div class="col-md-12" id="buttons">
            <div class="btn-group" role="group" aria-label="Modify Your Graph">
                <div class="btn btn-success" id="Add">Add Point</div>
                <div class="btn btn-danger" id="Remove">Remove Point</div>
            </div>
        </div>
        <div class="col-md-12" id="canvas-area">
            {# canvas area #}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    #choose-graph, #graph-designer {
        display: none;
    }
    #graph-designer #buttons {
        margin-bottom: 5px;
    }
    #graph-designer #canvas-area {
        border: 1px solid #000;
        padding: 0;
    }
</style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="javascript/kinetic-v5.1.0.min.js"></script>

    <script type="text/javascript">
        var _Action = 'none';
        var _Stage;

        var _Points = new Array();
        var _Labels = new Array();

        function loadGraphsData()
        {
            var baseLayer = new Kinetic.Layer();
            _Stage.add(baseLayer);

            var pointsLayer = new Kinetic.Layer();

            var circle;
            for (var a = 0, b = _Points.length; a < b; a++) {
                circle = new Kinetic.Circle({
                    radius: 2,
                    x: _Points[a].x,
                    y: _Points[a].y,
                    fill: 'red'
                });
                pointsLayer.add(circle);
            }

            _Stage.add(pointsLayer)
                  .draw();
        }

        function createCircle()
        {
            var Container = new Kinetic.Container();
        }

        function changeAction(toAction)
        {
            $('body').removeClass(_Action);

            _Action = toAction;

            if (toAction != 'none') {
                $('body').attr('class', _Action);
            }
        }

        $(document).ready(function () {
            if ($('#graphs-list .list-group-item.active').length == 0) {
                $('#choose-graph').css('display', 'block');
            } else {
                $('#graph-designer').css('display', 'block');
            }

            _Stage = new Kinetic.Stage({
                container: 'canvas-area',
                height: 100,
                width: 100
            });
            loadGraphsData();

            $('div#buttons div.btn-group div').on('click', function () {
                changeAction($(this).attr('id'));
            });

            $('div#canvas-area').on('contextmenu', function () {
                changeAction('none');
                return false;
            });
        });
    </script>
{% endblock %}
