{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <div class="row" id="choose-graph">
        <div class="col-md-12">
            Choose graph
        </div>
    </div>
    <div class="row" id="graph-designer">
        <div class="col-md-12" id="buttons">
            <div class="btn-group" role="group" aria-label="Modify Your Graph">
                <div class="btn btn-success btn-xs" id="AddPoint">Add</div>
                <div class="btn btn-danger btn-xs" id="RemovePoint">Remove</div>
                <div class="btn btn-default btn-xs">Point</div>
            </div>
            <div class="btn-group" role="group" aria-label="Modify Your Graph">
                <div class="btn btn-success btn-xs" id="AddConnection">Add</div>
                <div class="btn btn-danger btn-xs" id="RemoveConnection">Remove</div>
                <div class="btn btn-default btn-xs">Connection</div>
            </div>
            <div class="btn btn-warning btn-xs" id="Save-Graph">Save</div>
        </div>
        <div class="col-md-12" id="canvas-area">
            {# canvas area #}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    #choose-graph, #graph-designer {
        display: none;
    }
    #graph-designer #buttons {
        margin-bottom: 5px;
        padding: 0;
    }
    #graph-designer #Save-Graph {
        float: right;
    }
    #graph-designer #canvas-area {
        border: 1px solid #000;
        overflow: hidden;
        padding: 0;
    }
</style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="javascript/kinetic-v5.1.0.min.js"></script>
    <script type="text/javascript" src="javascript/objects.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#graphs-list .list-group-item.active').length == 0) {
                $('#choose-graph').css('display', 'block');
            } else {
                $('#graph-designer').css('display', 'block');
            }

            _Stage.create();

            $('div#buttons div.btn-group div').on('click', function () {
                _Action.change($(this).attr('id'));
            });

            $('div#canvas-area').on('contextmenu', function () {
                _Action.toDefault();
                return false;
            })
            .on('click', function (event) {
                if (_Action.currentIs('addpoint')) {
                    _Points.add(event.offsetX, event.offsetY);
                }
            });

            $('div#buttons div.btn#Save-Graph').on('click', function () {
                $.ajax({
                    data: 'points=' + _Points.toSave() + '&graphName=' + $('#graphs-list .list-group .active').text(),
                    dataType: 'json',
                    url: '/save-graph',
                    method: 'post',
                    success: function (data) {
                        
                    }
                });
            });
        });
    </script>
{% endblock %}
